

<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">
      
      <div class="card text-white bg-info mb-3" style="max-width: 48rem;">
        <div class="card-header">Header</div>
        <div class="card-body">
          <h5 class="card-title">Info card title</h5>
          <p class="card-text">Some quick example text toasdasd
            asdasdd build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>

      
      <div class="card text-white bg-dark mb-3" style="max-width: 48rem;">
        <div class="card-header">Header</div>
        <div class="card-body">
          <h5 class="card-title">Dark card title</h5>
          <p class="card-text">Some quick example text to build on the asdasdasd
             title and make up the bulk of the card's content.</p>
        </div>
      </div>

      <div class="card text-white bg-dark mb-3" style="max-width: 48rem;">
        <div class="card-header">Header</div>
        <div class="card-body">
          <h5 class="card-title">Dark card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>

      <!-- /.blog-post -->


      <!-- /.blog-post -->



    </div>
    <!-- /.blog-main -->

    <aside class="col-md-4 blog-sidebar">
      <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
        <div class="card-header">Header</div>
        <div class="card-body">
          <h5 class="card-title">Success card title</h5>
          <p class="card-text">Some quick example text to bake up the bulk of the card's content.</p>
        </div>
      </div>
      <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
        <div class="card-header">Header</div>
        <div class="card-body">
          <h5 class="card-title">Danger card title</h5>
          <p class="card-text">Some quick example text to  make up the bulk of the card's content.</p>
        </div>
      </div>
      <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
        <div class="card-header">Header</div>
        <div class="card-body">
          <h5 class="card-title">Warning card title</h5>
          <p class="card-text">Some quick example text to build on the card card's content.</p>
        </div>
      </div>
    </aside>
    <!-- /.blog-sidebar -->

  </div>
  <!-- /.row -->

</main>
